<div>
    {{outlet}}
</div>

<footer>
    <div class='yeti-container'><div class='yeti'></div></div>
        {{#isBitePage}}
            <div class="prefooter">
                <h5>{{t 'bite.createNow'}}</h5>
                <a class='btn btn-md btn-link' href="/">
                    <i class="icon-magic"></i>
                    {{t 'bite.clickHere'}}
                </a>
            </div>
        {{/isBitePage}}
    <span class='created-by' dir="ltr">
        <a href='https://twitter.com/yonbergman' target='_blank'>@yonbergman</a>
        ,
        <a href='https://twitter.com/gardenofwine' target='_blank'>@gardenofwine</a>
        {{t 'text.ampersand'}}
        <a href='https://twitter.com/giladgo' target='_blank'>@giladgo</a>
        &copy;2014
    </span>
    <nav>
        {{#link-to 'index'}}{{t 'text.home'}}{{/link-to}}
        |
        {{#link-to 'about'}}{{t 'text.about'}}{{/link-to}}
        |
        <a href ='/random'>{{t 'text.random'}}</a>
        |
        <a href ='/?language={{language}}'>{{switchLanguage}}</a>
    </nav>
</footer>