{{#if edit_url}}
    {{view Kvar.EditLinkView }}
{{/if}}
<div class='site'>
    <div class='top' dir='auto'>{{ topText }}</div>
    <div class='middle' dir='auto'>{{ centerText }}</div>
    <div class="'shares">
        {{ view Kvar.LikeButton }}
        {{ view Kvar.TweetButton }}
    </div>
</div>
<div class="prefooter">
    <h5>Create your own news bite now!</h5>
    <a class='btn btn-md btn-link' href="/">
        <i class="icon-magic"></i>
        Click here to start
    </a>
</div>