{{#if createdNow}}
    {{view Kvar.NewNewsBiteView }}
{{/if}}
<div class='site'>
    <div class='top' dir='auto'>{{ topText }}</div>
    <div class='middle' dir='auto'>{{ centerText }}</div>
        {{#if canEdit}}
        <button {{ bind-attr class=':btn-edit :btn :btn-lg :btn-primary'}} {{action "editAction" model}}>
            <i class='icon-edit'></i>
            {{t 'button.edit'}}
        </button>
        {{/if}}
    <div class="'shares">
        {{ view Kvar.LikeButton }}
        {{ view Kvar.TweetButton }}
    </div>
</div>
<div class="prefooter">
    <h5>{{t 'bite.createNow'}}</h5>
    <a class='btn btn-md btn-link' href="/">
        <i class="icon-magic"></i>
        {{t 'bite.clickHere'}}
    </a>
</div>