{{#if edit_url}}
    {{view Kvar.EditLinkView }}
{{/if}}
<div class='site'>
    <div class='top' dir='auto'>{{ topText }}</div>
    <div class='middle' dir='auto'>{{ centerText }}</div>
    <div class="'shares">
        {{ view Kvar.LikeButton }}
        {{ partial 'tweet-button' }}
    </div>
</div>
