<div id="editLinkAlert" class="alert alert-danger alert-dismissable">
    <button {{action "hide" target=view}} type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="stress">{{t 'editLink.important'}}</span>
    {{t 'editLink.explanation'}}
    <div class='small'>{{ edit_url_unescaped }}</div>
    <a {{bindAttr href="mailto"}} target="_blank">{{t 'editLink.mailto'}}</a>
</div>
