{{ render 'editable_bite' model }}
<div class='extra_site_controls'>
    <p class='lead'>
        {{t "welcome.text"}}
        <br/>
        <button class="btn btn-xs btn-default" {{action "randomize" model}}>
            <i class="icon-random"></i>
            {{t "welcome.anotherExample"}}
        </button>
    </p>
    <button {{ bind-attr class='::disabled :btn-save'}} {{action "submitAction" model}}>
        <i class='icon-save'></i>
        {{t 'button.save'}}
    </button>
</div>
